*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent-color: #641bff;
  --heading-font-family: "Poppins", sans-serif;
  --body-font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  background-color: #f8f9fb;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font-family);
}

.price-comparison {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 1rem;
}

.price-column {
  position: relative;
  box-shadow: 0 7px 30px rgba(52, 31, 97, 0.1);
  padding: 2rem;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 275px;
  border-radius: 8px;
}

.price-column.popular {
  position: relative;
  background-color: var(--accent-color);
  box-shadow: 0 7px 30px rgba(52, 13, 135, 0.3);
  color: white;
  margin-top: -1.5rem;
  padding-top: 3.5rem;
  margin-bottom: -1.5rem;
  padding-bottom: 3.5rem;
}

.price-column:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.price-column:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.price-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
